*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: serif karma;
}
.main-container{
    display: flex;
    margin: 10px;
    text-align: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    position: sticky;
    top: 0px;
    background-color: lightgreen;
    

}
img{
    width: 100%;
    display: block;
}
.text{
    margin: 0px;
    padding: 0px;
}
.footer{
    display: flex;
    justify-content: center;
   
}
span{
    padding: 10px;
}
.footer:hover {
    background-color: #222;
    color: #fff;

}

@media  screen and (width > 600px) {
    .container {
        flex: 1 1 22%;

    }
    
}

